<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Karaktero</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />

    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <div id="app">
      <label>Race</label>
      <select v-model="race">
        <option v-for="race in Object.keys(races)" v-bind:value="race"
          >{{capitalize(races[race].name)}}</option
        >
      </select>

      <div v-if="races[race].hasBonusAbility">
        <label>Bonus caractéristique:</label>
        <select v-model="raceAbilityBonus">
          <option
            v-for="ability in except(abilities, Object.keys(races[race].ability))"
            v-bind:value="ability"
            >{{capitalize(translateAbility(ability))}} +2</option
          >
        </select>
      </div>

      <label>Classe</label>
      <select v-model="vocation">
        <option v-for="vocation in Object.keys(classes)" v-bind:value="vocation"
          >{{capitalize(classes[vocation].name)}}</option
        >
      </select>

      <label>Alignement</label>
      <select v-model="alignment">
        <option v-for="alignment in alignments" v-bind:value="alignment"
          >{{translateAlignment(alignment)}}</option
        >
      </select>

      <label>Jeunesse</label>
      <select v-model="backgroundAbility">
        <option value="patate">Patate</option>
        <option value="savage">Sauvage</option>
        <option value="violent">Violente</option>
        <option value="scholar">Académique</option>
        <option value="religious">Religieuse</option>
        <option value="resourceful">Ingénieuse</option>
        <option value="random">Chaotique</option>
        <option value="bestial">Bestiale</option>
        <option value="nifty">Débrouillarde</option>
        <option value="rustic">Rustique</option>
      </select>
      <br />
      <br />
      <div class="BD">
        <div class="BDtitre">
          {{title}}
          <!-- <div style="float: right;">FP 1/2</div> -->
        </div>
        <!-- <div class="BDtexte"><b>PX</b> 200</div> -->
        <div class="BDtexte capitalize">
          {{races[race].name}}
          <a
            class="pagelink"
            href="Pathfinder-RPG.roublard.ashx"
            title="Le roublard"
            >{{classes[vocation].name}}</a
          >
          1
        </div>
        <div class="BDtexte">
          <a
            class="pagelink"
            href="https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.type%20Humano%c3%afde.ashx"
            title="Humanoïde"
            >Humanoïde</a
          >
          de taille {{ races[race].size ?? "M"}},
          <a
            class="pagelink"
            href="https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.Alignement.ashx"
            title="alignment"
            >{{translateAlignment(alignment)}}</a
          >
        </div>
        <div class="BDtexte"><b>Init</b> {{forceSymbol(dex())}}</div>
        <div class="BDsoustitre">Défense</div>
        <div class="BDtexte">
          <b>CA</b> {{ac(classes[vocation].armor.bonus,
          classes[vocation].shield?.bonus ?? 0)}}, contact {{touch()}}, pris au
          dépourvu {{flatFooted(classes[vocation].armor.bonus,
          classes[vocation].shield?.bonus ?? 0)}} (armure
          {{forceSymbol(classes[vocation].armor.bonus)}},
          <span v-if="(classes[vocation].shield?.bonus ?? 0) > 0"
            >bouclier {{forceSymbol(classes[vocation].shield?.bonus ??
            0)}},</span
          >
          Dex {{forceSymbol(dex())}})
        </div>
        <div class="BDtexte">
          <b>pv</b> {{hp(vocation)}}
          (1d{{classes[vocation].hitDice}}{{forceSymbol(con())}})
        </div>
        <div class="BDtexte">
          <b>Réf</b> {{forceSymbol(reflex())}},
          <b>Vig</b> {{forceSymbol(fortitude())}},
          <b>Vol</b> {{forceSymbol(will())}}
        </div>
        <div class="BDtexte" v-if="races[race].resist">
          <b>Résistance</b>
          <span v-for="(resist, i) in races[race].resist"
            ><span v-if="i != 0">, </span>{{resist.name}} {{resist.value}}
          </span>
        </div>
        <div class="BDtexte" v-if="races[race].vulnerability">
          <b
            ><a
              href="https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.Vuln%C3%A9rabilit%C3%A9s%20(capacit%C3%A9).ashx"
              class="pagelink"
              title="vulnérabilité"
              >Vulnérabilité</a
            ></b
          >
          <span v-for="(vulnerability, i) in races[race].vulnerability"
            ><span v-if="i != 0">, </span>{{vulnerability}}</span
          >
        </div>
        <div class="BDsoustitre">Attaque</div>
        <!-- <div class="BDtexte">
          <b>VD</b> 9 m (6 <abbr title="cases">c</abbr>)
        </div> -->
        <div class="BDtexte"><b>Corps à corps</b> {{meleeAttack()}}</div>
        <div class="BDtexte" v-if="classes[vocation].ranged">
          <b>A distance</b> {{rangedAttack()}}
        </div>
        <div class="BDtexte" v-if="classes[vocation].specialAttacks">
          <b>Attaque spéciale</b> {{classes[vocation].specialAttacks}}
        </div>

        <div class="BDtexte" v-if="classes[vocation].spells">
          <!-- https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.lancer%20des%20sorts.ashx#TESTCONCENTRATION -->
          <b>Sorts</b> (NLS {{level}} ; concentration
          1d20{{forceSymbol(concentration())}})
        </div>

        <!-- https://www.pathfinder-fr.org/Wiki/Pathfinder-RPG.PNJ%20%c3%89rudits.ashx#MAGICIENAMATEUR -->
        <div class="BDsorts" v-if="classes[vocation].spells">
          1<sup>er</sup
          ><template v-if="classes[vocation].spellsPerDay">
            ({{classes[vocation].spellsPerDay.level1}}/jour)</template
          >
          —
          <span v-for="(spell, i) of classes[vocation].spells.level1">
            <span v-if="i != 0">, </span
            ><i
              ><a
                class="pagelink"
                :href="spell.link"
                :title="spell.name + ': ' + spell.description"
                >{{spell.name}}</a
              ><span v-if="spell.save">
                (<abbr v-bind:title="abbr(spell.save)">{{spell.save}}</abbr>
                <abbr v-bind:title="abbr('dd')">DD</abbr> {{dd(1)}})</span
              >
            </i></span
          >
        </div>

        <div class="BDsorts" v-if="classes[vocation].spells">
          0 (à volonté) —
          <span v-for="(spell, i) of classes[vocation].spells.level0">
            <span v-if="i != 0">, </span
            ><i
              ><a
                class="pagelink"
                :href="spell.link"
                :title="spell.name + ': ' + spell.description"
                >{{spell.name}}</a
              >
            </i>
          </span>
        </div>

        <div class="BDsoustitre">Caractéristiques</div>
        <div class="BDtexte">
          <b>For</b> {{ strength() }} ({{ forceSymbol(str()) }}), <b>Dex</b> {{
          dexterity() }} ({{ forceSymbol(dex()) }}), <b>Con</b> {{
          constitution() }} ({{ forceSymbol(con()) }}), <b>Int</b> {{
          intelligence() }} ({{ forceSymbol(int()) }}), <b>Sag</b> {{ wisdom()
          }} ({{ forceSymbol(wis()) }}), <b>Cha</b> {{ charisma() }} ({{
          forceSymbol(cha()) }})
        </div>
        <div class="BDtexte">
          <b>BBA</b> +{{classes[vocation].bba}},
          <b>BMO</b> {{forceSymbol(bmo())}}, <b>DMD</b> {{dmd()}}
        </div>
        <!-- <div class="BDtexte">
          <b>Dons</b>
          <a
            class="pagelink"
            href="Pathfinder-RPG.Doigts%20de%20f%c3%a9e.ashx"
            title="Doigts de fée"
            >Doigts de fée</a
          >,
          <a class="pagelink" href="Pathfinder-RPG.Talent.ashx" title="Talent"
            >Talent</a
          >
          (Escamotage)
        </div> -->
        <div class="BDtexte">
          <b>Compétences</b>
          <span v-for="(skill, i) in orderByKey(skills(), 'translation')">
            <span v-if="i != 0">, </span
            ><a
              class="pagelink"
              v-bind:title="skill.detail"
              :href="buildSkillHref(skill.translation)"
              >{{ skill.translation }}</a
            >
            {{ forceSymbol(skill.total) }}
          </span>
        </div>
        <div class="BDtexte">
          <b>Langues</b>
          <span v-for="(language, i) in languages()"
            ><span v-if="i != 0">, </span>{{language}}</span
          >
        </div>
        <div class="BDtexte">
          <b>Particularités</b>
          <span v-for="(feature, i) of features()">
            <span v-if="i != 0">, </span
            ><a
              v-if="typeof feature === 'object'"
              class="pagelink"
              v-bind:title="feature.name"
              :href="feature.link"
              >{{ feature.name }}</a
            ><template v-if="typeof feature === 'string'">{{feature}}</template>
          </span>
        </div>
        <div class="BDtexte">
          <b>Équipement</b>
          {{classes[vocation].armor.translation.toLowerCase()}},
          <span v-if="classes[vocation].shield"
            >{{classes[vocation].shield.translation.toLowerCase()}},</span
          >
          <span v-if="classes[vocation].ranged"
            >{{classes[vocation].ranged.ammunition}},</span
          >
          <span>{{gear()}}</span>
        </div>
        <!-- <div class="BDtexte">
          <b>Diver</b> Un pickpocket peut tenter de dérober un petit objet pour
          les PJ ou en cacher un sur une victime.
        </div> -->
      </div>
    </div>

    <script src="vue.js"></script>
    <script src="lib.js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
  </body>
</html>
