body {
  background: #20262e;
  padding: 20px;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

.capitalize {
  text-transform: capitalize;
}

a.pagelink {
  text-decoration: none;
  color: #2244bb;
}

a.pagelink:hover {
  text-decoration: underline;
}

.BD {
  max-width: 400px;
  font-family: corbel, trebuchet ms, verdana, sans-serif;
  font-size: 13px;
  text-align: left;
  background: white;
}

.BD .BDtitre {
  background-color: #4b3124;
  color: #fff;
  font-weight: bold;
  padding: 1px 3px 1px 3px;
  text-indent: 0;
  font-size: large;
}

.BD .BDtexte {
  padding: 1px 0 1px 8px;
  text-indent: -8px;
  text-align: left;
}

.BD .BDsoustitre,
.BD div.box {
  background-color: #f3efe2;
  color: black;
  padding: 0 1px 0 1px;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-indent: 0;
  margin: 1px 0;
}

.BD .BDsorts {
  padding: 1px 0 1px 16px;
  text-indent: -8px;
  text-align: left;
  font-size: 105%;
}
